@model IEnumerable<DemoApp1.Models.EmpInfo>
<html>
<head>
    <title>Employees</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(246, 240, 240);
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            color: rgb(204, 0, 197);
            font-size: 24px;
        }

    
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
        }

        th, td {
            border: 2px solid #070606;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #bf80ff;
            color: #fff;
        }
@* 
        tr:nth-child(even) {
            background-color: #bf80ff;
        } *@

        tr:hover {
            background-color: rgb(212, 148, 237);
            @* transition: background-color 0.3s ease; *@
        }

        p {
            text-align: center;
        }

        .button {
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 10px;
            background: linear-gradient(45deg, #8967d9, #9f64b9);
            color: #fff;
            transition: background 0.3s ease, transform 0.2s ease;
        }

        .button:hover {
            background: linear-gradient(45deg, #cc0074, #6600ff);
            transform: scale(1.05);
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .button-container button {
            border: none; /* Remove border */
        }


        .button-container button:hover {
            background: linear-gradient(45deg, #cc0074, #6600ff);
            transform: scale(1.05);
            color: #efeaea;
        }
    </style>
</head>
<body>
    <h1 color="red">Our Employees</h1>
    <table border="2">
        <tr>
            <th>Employee No</th>
            <th>Employee Name</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Location</th>
        </tr>
        @foreach (var entry in Model)
        {
            <tr>
                <td>@entry.EMPNO</td>
                <td>@entry.ENAME</td>
                <td>@entry.SALARY</td>
                <td>@entry.DEPTNO</td>
                <td>@entry.LOC</td>
            </tr>
        }
    </table>
    <div class="button-container">
        <a href="/Home/Register" class="button">Register New Employee</a>
        <a href="/Home/Department" class="button">Department</a>
        <a href="/Home/RemoveEmp" class="button">Remove Employee</a>
        <a href="Index">
            <button type="submit" class="button">Log Out</button>
        </a>
    </div>
</body>
</html>
